

// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//
// // set if you're also including font-awesome
//$fa-font-path: "~font-awesome/fonts";
$owl-image-path : "~owl.carousel/src/img/";
$flag-icon-css-path: '~flag-icon-css/flags';
 //@import "~bootstrap/scss/bootstrap";
 @import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
 @import "~bootstrap-sass/assets/stylesheets/bootstrap";

 @import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
 @import "~bootstrap-select/sass/bootstrap-select";
 @import "~owl.carousel/src/scss/owl.carousel";
 @import "~owl.carousel/src/scss/owl.theme.default";

 @import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
 @import "~flag-icon-css/sass/flag-icon";
 @import "~datatables.net-bs/css/dataTables.bootstrap.min.css";

html{
 height: 100%;
 overflow-x: hidden;
}
body{
 overflow-x: hidden;
}


.about-col p:nth-child(2){
 font-size: 20px !important;
 line-height: 1.5 !important;
 text-align: justify !important;
}

.btn-primary {
 color: #fff;
 background-color: #9a1f80;
 border-color: #b21c9f;
}


.stepwizard-step p {
 margin-top: 10px;
}

.stepwizard-row {
 display: table-row;
}

.stepwizard {
 display: table;
 width: 100%;
 position: relative;
}

.stepwizard-step button[disabled] {
 opacity: 1 !important;
 filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
 top: 14px;
 bottom: 0;
 position: absolute;
 content: " ";
 width: 100%;
 height: 1px;
 background-color: #ccc;
 z-order: 0;
}

.stepwizard-step {
 display: table-cell;
 text-align: center;
 position: relative;
}

.btn-circle {
 width: 30px;
 height: 30px;
 text-align: center;
 padding: 6px 0;
 font-size: 12px;
 line-height: 1.428571429;
 border-radius: 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
.hotel-page .accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
 height: 150px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.hotel-page .active, .hotel-page .accordion:hover {
 background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.hotel-page .panel {
 padding: 0 18px;
 background-color: white;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
}

.hotel-page .accordion:after {
 content: '\02795'; /* Unicode character for "plus" sign (+) */
 font-size: 13px;
 color: #777;
 float: right;
 margin-left: 5px;
}

.hotel-page .active:after {
 content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* details hotel */
/*****************globals*************/

.hotel-page .preview {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
}

@media screen and (max-width: 996px) {
 .hotel-page .preview {
  margin-bottom: 20px;
 }
}

.hotel-page .preview-pic {
 -webkit-box-flex: 1;
 -webkit-flex-grow: 1;
 -ms-flex-positive: 1;
 flex-grow: 1;
}

.hotel-page .preview-thumbnail.nav-tabs {
 border: none;
 margin-top: 15px;
 overflow: hidden;
 height: 100px;
}

.hotel-page .preview-thumbnail.nav-tabs li {
 width: 30%;
 margin-right: 2.5%;
 margin-top: 10px;
 margin-bottom: 10px;
}

.hotel-page .preview-thumbnail.nav-tabs li img {
 max-width: 100%;
 display: block;
}

.hotel-page .preview-thumbnail.nav-tabs li a {
 padding: 0;
 margin: 0;
}

.hotel-page .preview-thumbnail.nav-tabs li:last-of-type {
 margin-right: 0;
}

.hotel-page .tab-content {
 overflow: hidden;
}

.hotel-page .tab-content img {
 width: 100%;
 -webkit-animation-name: opacity;
 animation-name: opacity;
 -webkit-animation-duration: .3s;
 animation-duration: .3s;
}

.hotel-page .card {
 margin-bottom: 40px;
 background: #fefefe;
 padding: 3em;
 line-height: 1.5em;
}

@media screen and (min-width: 997px) {
 .hotel-page .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 }
}

.hotel-page .details {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
}

.hotel-page .colors {
 -webkit-box-flex: 1;
 -webkit-flex-grow: 1;
 -ms-flex-positive: 1;
 flex-grow: 1;
}

.hotel-page .product-title, .hotel-page .price, .hotel-page .sizes, .colors {
 text-transform: UPPERCASE;
 font-weight: bold;
}

.hotel-page .checked, .price span {
 color: #ff9f1a;
}

.hotel-page .product-title, .hotel-page .rating, .hotel-page .product-description, .hotel-page .price, .hotel-page .vote, .sizes {
 margin-bottom: 15px;
}

.hotel-page .product-title {
 margin-top: 0;
}

.hotel-page .size {
 margin-right: 10px;
}

.hotel-page .size:first-of-type {
 margin-left: 40px;
}

.hotel-page .color {
 display: inline-block;
 vertical-align: middle;
 margin-right: 10px;
 height: 2em;
 width: 2em;
 border-radius: 2px;
}

.hotel-page .color:first-of-type {
 margin-left: 20px;
}

.hotel-page .add-to-cart, .hotel-page .like {
 background: #ff9f1a;
 padding: 1.2em 1.5em;
 border: none;
 text-transform: UPPERCASE;
 font-weight: bold;
 color: #fff;
 -webkit-transition: background .3s ease;
 transition: background .3s ease;
}

.hotel-page .add-to-cart:hover, .hotel-page .like:hover {
 background: #b36800;
 color: #fff;
}

.hotel-page .not-available {
 text-align: center;
 line-height: 2em;
}

.hotel-page .not-available:before {
 font-family: fontawesome;
 content: "\f00d";
 color: #fff;
}

.hotel-page .orange {
 background: #ff9f1a;
}

.hotel-page .green {
 background: #85ad00;
}

.hotel-page .blue {
 background: #0076ad;
}

.hotel-page .tooltip-inner {
 padding: 1.3em;
}

@-webkit-keyframes opacity {
 0% {
  opacity: 0;
  -webkit-transform: scale(3);
  transform: scale(3);
 }
 100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
 }
}

@keyframes opacity {
 0% {
  opacity: 0;
  -webkit-transform: scale(3);
  transform: scale(3);
 }
 100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
 }
}

.hotel-page .control_prev {
 margin-top: 50px;
 cursor: pointer;
}

.hotel-page .control_next {
 margin-top: 50px;
 cursor: pointer;
}
.hotel-page .control_next:hover i, .hotel-page .control_prev:hover i {
 color : #7db921;
}

/*# sourceMappingURL=style.css.map */

/* end details hotel */





.home-message {
 background:  rgba(127, 178, 49, 0.5) !important;
 position: absolute;
 width: 50% !important;
 z-index: 9999;
 top: 50%;
 left: 25%;
}
.alert .close, .info-box .close{
 width:20px;
 background-color: #98ce44;
}
.alert .close:hover, .info-box .close:hover{
 width:20px;
 background-color: #ECBD39;
}



/* 2.15. Listing Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.listing-style1.hotel .box-title:after, .listing-style1.cruise .box-title:after {

 display: table;

 content: "";

 clear: both; }

.listing-style1.hotel .feedback, .listing-style1.cruise .feedback {

 margin: 5px 0;

 border-top: 1px solid #f5f5f5;

 padding-top: 5px;

 border-bottom: 1px solid #f5f5f5; }

.listing-style1.hotel .feedback .review, .listing-style1.cruise .feedback .review {

 display: block;

 float: right;

 text-transform: uppercase;

 font-size: 0.8333em;

 color: #9e9e9e; }

.listing-style1.hotel .five-stars-container, .listing-style1.cruise .five-stars-container {

 color: #dbdbdb; }

.listing-style1.hotel .action .button:last-child, .listing-style1.cruise .action .button:last-child {

 float: right; }

.listing-style1.hotel .action .button, .listing-style1.cruise .action .button {

 width: 45%;

 padding: 0;

 text-align: center; }

.listing-style1.hotel .action .button + .button, .listing-style1.cruise .action .button + .button {

 width: 50%; }

.listing-style1.flight .details, .listing-style1.car .details {

 padding: 15px 0 0 !important;

 text-transform: uppercase; }

.listing-style1.flight .details .box-title, .listing-style1.car .details .box-title {

 text-transform: none; }

.listing-style1.flight .details .box-title:after, .listing-style1.car .details .box-title:after {

 display: table;

 content: "";

 clear: both; }

.listing-style1.flight .action .button, .listing-style1.car .action .button {

 text-align: center; }

.listing-style1.flight figure img {

 max-width: 100%; }

.listing-style1.flight .details .time {

 margin: 10px 0;

 border-top: 1px solid #f5f5f5;

 border-bottom: 1px solid #f5f5f5;

 letter-spacing: 0.04em; }

.listing-style1.flight .details .time:after {

 display: table;

 content: "";

 clear: both; }

.listing-style1.flight .details .time > div {

 width: 50%;

 float: left;

 padding: 7px 0; }

.listing-style1.flight .details .time > div > .icon {

 font-size: 16px;

 float: left; }

.listing-style1.flight .details .time > div > .icon + div {

 padding-left: 24px; }

.listing-style1.flight .details .time > div:first-child {

 border-right: 1px solid #f5f5f5; }

.listing-style1.flight .details .time > div + div {

 padding-left: 20px; }

.listing-style1.flight .details .duration {

 font-size: 0.8333em;

 text-align: center;

 letter-spacing: 0.04em; }

.listing-style1.car figure img {

 max-width: 100%; }

.listing-style1.car .details .mile {

 font-size: 0.8333em;

 text-align: center; }

.listing-style1.car .details .amenities {

 text-align: center;

 border-top: 1px solid #f5f5f5;

 border-bottom: 1px solid #f5f5f5;

 margin: 10px 0;

 padding: 10px 0 6px; }

.listing-style1.cruise .time {

 padding-top: 5px; }

.listing-style1.cruise .time [class^="soap-icon"] {

 float: left;

 font-size: 20px; }

.listing-style1.cruise .time > div {

 margin-bottom: 10px !important; }

.listing-style1.cruise .time > div:first-child {

 border-right: 1px solid #f5f5f5; }

.listing-style1.cruise .time > div > div {

 padding-left: 20px; }

.listing-style1.cruise .action a.button {

 float: none !important; }

.listing-style1.cruise .description {

 text-align: center;

 font-size: 0.8333em;

 text-transform: uppercase; }



.listing-style1.flight .box, .listing-style1.flight.box, .listing-style1.car .box, .listing-style1.car.box, .listing-style2.flight .box, .listing-style2.flight.box, .listing-style2.car .box, .listing-style2.car.box {

 padding: 15px; }

.listing-style1.flight figure, .listing-style1.car figure, .listing-style2.flight figure, .listing-style2.car figure {

 background: #f5f5f5;

 display: table;

 /*height: 140px;*/

 width: 100%;

 table-layout: fixed; }

.listing-style1.flight figure > a, .listing-style1.flight figure > span, .listing-style1.car figure > a, .listing-style1.car figure > span, .listing-style2.flight figure > a, .listing-style2.flight figure > span, .listing-style2.car figure > a, .listing-style2.car figure > span {

 display: table-cell;

 vertical-align: middle;

 text-align: center; }

.listing-style1.flight figure img, .listing-style1.car figure img, .listing-style2.flight figure img, .listing-style2.car figure img {

 width: auto; }



.listing-style1.flight .icon, .listing-style3.flight .icon {

 font-size: 16px; }

.listing-style1.flight .take-off > .icon, .listing-style3.flight .take-off > .icon {

 -webkit-transform: rotate(-25deg);

 -moz-transform: rotate(-25deg);

 -ms-transform: rotate(-25deg);

 -o-transform: rotate(-25deg);

 transform: rotate(-25deg);

 display: inline-block; }

.listing-style1.flight .landing > .icon, .listing-style3.flight .landing > .icon {

 -webkit-transform: rotate(25deg);

 -moz-transform: rotate(25deg);

 -ms-transform: rotate(25deg);

 -o-transform: rotate(25deg);

 transform: rotate(25deg);

 display: inline-block; }

.listing-style1.car .amenities ul, .listing-style3.car .amenities ul {

 display: inline-block;

 color: #9e9e9e; }

.listing-style1.car .amenities ul li, .listing-style3.car .amenities ul li {

 float: left;

 text-align: center;

 padding: 0 5px;

 cursor: default;

 font-size: 0.8333em; }

.listing-style1.car .amenities ul li .glyphicon, .listing-style1.car .amenities ul li [class^="soap-icon"], .listing-style3.car .amenities ul li .glyphicon, .listing-style3.car .amenities ul li [class^="soap-icon"] {

 display: block;

 font-size: 16px;

 color: #d9d9d9;

 overflow: hidden; }

.listing-style1.car .amenities ul li .glyphicon, .listing-style3.car .amenities ul li .glyphicon {

 line-height: 25px; }

.listing-style1.car .amenities ul li .glyphicon:before, .listing-style3.car .amenities ul li .glyphicon:before {

 font-size: 12px; }

.listing-style1.car .amenities ul li:hover, .listing-style1.car .amenities ul li:hover .glyphicon, .listing-style1.car .amenities ul li:hover [class^="soap-icon"], .listing-style3.car .amenities ul li:hover, .listing-style3.car .amenities ul li:hover .glyphicon, .listing-style3.car .amenities ul li:hover [class^="soap-icon"] {

 color: #01b7f2; }

.listing-style1.car .amenities ul li:hover [class^="soap-icon"]:before, .listing-style3.car .amenities ul li:hover [class^="soap-icon"]:before {

 -webkit-animation: toTopFromBottom 0.35s forwards;

 -moz-animation: toTopFromBottom 0.35s forwards;

 animation: toTopFromBottom 0.35s forwards; }

.listing-style1.car .amenities ul:after, .listing-style3.car .amenities ul:after {

 display: table;

 content: "";

 clear: both; }



.listing-style2 .box .box-title {

 margin-bottom: 0; }

.listing-style2 a.button {

 margin-top: 6px; }

.listing-style2.flight .details {

 padding: 12px 2px 0; }

.listing-style2.flight img {

 width: auto;

 max-width: 100%; }



.listing-style3 .box, .listing-style3.box {

 background: #fff;

 margin-bottom: 30px; }

.listing-style3 .box > *, .listing-style3.box > * {

 padding: 0; }

.listing-style3 .box:after, .listing-style3.box:after {

 display: table;

 clear: both;

 content: ""; }

.listing-style3 .review {

 display: block;

 text-transform: uppercase;

 font-size: 0.8333em;

 color: #9e9e9e; }

.listing-style3 .five-stars-container, .listing-style3 .review {

 line-height: 1em; }

.listing-style3 .five-stars-container {

 color: #dbdbdb; }

.listing-style3 [class^="soap-icon"].circle {

 color: #d9d9d9;

 cursor: default;

 font-size: 16px;

 overflow: hidden; }

.listing-style3 [class^="soap-icon"].circle:hover {

 color: #01b7f2; }

.listing-style3 [class^="soap-icon"].circle:hover:before {

 -webkit-animation: toTopFromBottom 0.35s forwards;

 -moz-animation: toTopFromBottom 0.35s forwards;

 animation: toTopFromBottom 0.35s forwards; }

.listing-style3 .price {
 float: none;
 color: #9a1f80;
 font-size: 1.6667em;
 text-transform: uppercase;
  line-height: 1;
 display: block;
}

.listing-style3.hotel figure img {

 width: 100%;

 height: auto; }

.listing-style3.hotel .box-title {

 margin: 0;

 float: left; }

.listing-style3.hotel .box-title i {

 font-size: 15px; }

.listing-style3.hotel .amenities {

 float: right; }

.listing-style3.hotel .details {

 padding: 15px 0 15px 20px;

 display: table; }

.listing-style3.hotel .details [class^="soap-icon"].circle {

 margin-right: 5px;

 margin-top: 5px; }

.listing-style3.hotel .details > * {

 display: table-row; }

.listing-style3.hotel .details > * > * {

 display: table-cell;

 padding: 10px 15px 0;

 text-align: center;

 vertical-align: middle; }

.listing-style3.hotel .details > * > *:first-child {

 border-right: 1px solid #f5f5f5;

 padding-left: 0;

 padding-right: 15px;

 text-align: left; }

.listing-style3.hotel .details > * > *:last-child {

 width: 120px; }

.listing-style3.hotel .details > *:first-child > * {

 border-bottom: 1px solid #f5f5f5;

 padding-top: 0;

 padding-bottom: 10px; }

.listing-style3.hotel .details .button {

 margin-top: 8px; }

.listing-style3.flight .box, .listing-style3.flight.box {

 padding: 15px;

 display: table;

 width: 100%;

 table-layout: fixed;
 background-color: #f5f5f5;
}

.listing-style3.flight figure {

 display: table-cell;

 background: #f5f5f5;

 vertical-align: middle;

 float: none; }

.listing-style3.flight figure span {

 text-align: center;

 display: block; }

.listing-style3.flight figure span img {

 max-width: 60px;

 height: auto; }

.listing-style3.flight .box-title {

 float: left; }

.listing-style3.flight .stop:hover {

 background: #fdb714; }

.listing-style3.flight .amenities {

 margin-bottom: 10px;

 float: right; }

.listing-style3.flight .details {

 display: table-cell;

 padding-left: 15px;

 float: none; }

.listing-style3.flight .details .details-wrapper {

 display: table;

 width: 100%; }

.listing-style3.flight .details .details-wrapper > * {

 display: table-row; }

.listing-style3.flight .details .details-wrapper > * > * {

 display: table-cell;

 padding: 15px 15px 0 15px; }

.listing-style3.flight .details .details-wrapper > * > *:first-child {

 border-right: 1px solid #f5f5f5;

 padding-left: 0; }

.listing-style3.flight .details .details-wrapper > * > *:last-child {

 text-align: center;

 padding-right: 0; }

.listing-style3.flight .details .details-wrapper > *:first-child > * {

 border-bottom: 1px solid #f5f5f5;

 padding-top: 0; }

.listing-style3.flight .details .details-wrapper .box-title {

 margin: 0 10px 15px 0; }

.listing-style3.flight .details .details-wrapper [class^="soap-icon"].circle {

 margin-right: 5px; }

.listing-style3.flight .details .details-wrapper [class^="col-"], .listing-style3.flight .details .details-wrapper [class*=" col-"] {

 padding: 0; }

.listing-style3.flight .details .details-wrapper .time > div {

 border-right: 1px solid #f5f5f5;

 padding-left: 15px; }

.listing-style3.flight .details .details-wrapper .time > div:last-child {

 border-right: none; }

.listing-style3.flight .details .details-wrapper .time > div:first-child {

 padding-left: 0; }

.listing-style3.flight .details .details-wrapper .time > div > div {

 padding-left: 25px; }

.listing-style3.flight .details .details-wrapper .time .icon {

 float: left;

 padding: 0;

 font-size: 16px; }

.listing-style3.flight .details .details-wrapper .time {

 letter-spacing: 0.04em; }

.listing-style3.flight .details .details-wrapper .action {

 vertical-align: top; }

.listing-style3.car .box, .listing-style3.car.box {

 display: table;

 padding-top: 15px;

 padding-bottom: 15px;

 width: 100%;

 table-layout: fixed;

}

.listing-style3.car figure {

 display: table-cell;

 vertical-align: middle;

 float: none;

 text-align: center;

 border-right: 1px solid #f5f5f5; }

.listing-style3.car figure img {

 max-width: 80%;

 height: auto; }

.listing-style3.car .details {

 display: table-cell;

 float: none; }

.listing-style3.car .details .box-title {

 float: left; }

.listing-style3.car .details .logo {

 margin: 3px 0 0 8px;

 float: left;

 border-left: 1px solid #e1e1e1;

 padding-left: 8px; }

.listing-style3.car .details .logo img {

 max-height: 20px;

 width: auto; }

.listing-style3.car .details .amenities {

 margin-top: 20px; }

.listing-style3.car .details .character {

 text-align: right;

 text-transform: uppercase;

 font-size: 0.8333em;

 border-right: 1px solid #f5f5f5; }

.listing-style3.car .details .character dd {

 margin-bottom: 5px; }

.listing-style3.car .details .character dl {

 margin-bottom: 0; }

.listing-style3.car .details .action {

 text-align: center;

 text-transform: uppercase; }

.listing-style3.car .details .action .button {

 margin-top: 30px; }

.listing-style3.cruise figure img {

 width: 100%;

 height: auto; }

.listing-style3.cruise .details {

 padding: 15px 20px;

 text-transform: uppercase; }

.listing-style3.cruise .details img {

 max-width: 100%;

 height: auto; }

.listing-style3.cruise .details .box-title {

 text-transform: none;

 margin-bottom: 10px; }

.listing-style3.cruise .details .character {

 font-size: 0.8333em;

 border-top: 1px solid #f5f5f5;

 border-bottom: 1px solid #f5f5f5;

 margin-bottom: 15px;

 display: table;

 width: 100%;

 table-layout: fixed; }

.listing-style3.cruise .details .character > div {

 display: table-cell;

 float: none;

 vertical-align: middle;

 margin: 0;

 padding-top: 12px;

 padding-bottom: 12px;

 border-left: 1px solid #f5f5f5; }

.listing-style3.cruise .details .character > div:first-child {

 border: none;

 padding-left: 0; }

.listing-style3.cruise .details .character > div:last-child {

 padding-right: 0; }

.listing-style3.cruise .details .character [class^="soap-icon"] {

 font-size: 18px;

 float: left; }

.listing-style3.cruise .details .character .cruise-logo {

 padding: 0;

 text-align: left; }

.listing-style3.cruise .details .character .cruise-logo img {

 max-width: 90%;

 width: auto;

 height: auto; }

.listing-style3.cruise .details .character .date > div, .listing-style3.cruise .details .character .departure > div {

 padding-left: 20px;

 line-height: 1.1667em; }

.listing-style3.cruise .details .review {

 line-height: 1.6667em; }

.listing-style3.cruise .details .review .five-stars-container {

 float: left;

 margin-right: 10px; }

.listing-style3.cruise .details .review span {

 display: block;

 float: left; }


.panel h1 {
 margin: 0 0 15px;
 font-weight: normal;
 color: #2d3e52;
}


.form-check {
 margin-top: 11px;
}

.csi-banner .csi-inner {
 padding: 15rem 0;
}
.csi-inner {
 padding: 6rem 0;
}

//.csi-banner-content .csi-subtitle, .csi-banner-content .csi-title {
// font-size: 8rem;
// line-height: 16.5rem;
// font-family: Oswald,sans-serif;
//}

.csi-footer {
 background: #212739;
 color: #fff;
}


/** card bootstrap **/
.card {
 font-size: 1em;
 overflow: hidden;
 padding: 0;
 border: none;
 border-radius: .28571429rem;
 box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

 padding: 15px;
 margin: 0 15px 15px 0;
}

.card-block {
 font-size: 1em;
 position: relative;
 margin: 0;
 padding: 1em;
 border: none;
 border-top: 1px solid rgba(34, 36, 38, .1);
 box-shadow: none;
}

.card-img-top {
 display: block;
 width: 100%;
 height: auto;
}

.card-title {
 font-size: 1.28571429em;
 font-weight: 700;
 line-height: 1.2857em;
 color: #9a1f80;
}

.card-text {
 clear: both;
 margin-top: .5em;
 color: rgba(0, 0, 0, .68);
}

.card-footer {
 font-size: 1em;
 position: static;
 top: 0;
 left: 0;
 max-width: 100%;
 padding: .75em 1em;
 color: rgba(0, 0, 0, .4);
 border-top: 1px solid rgba(0, 0, 0, .05) !important;
 background: #fff;
}

.card-inverse .btn {
 border: 1px solid rgba(0, 0, 0, .05);
}
/* 3.1.7. Mini Menu */


/* menu */
.menu-conf-top .dropdown-menu {
 width: 300px;
}
.menu-conf-top .dropdown-menu > li {
 display: inline-block;
 float:left;
}

.csi-header .langbar {
 padding-top: 6.8rem;
}
.csi-header .menu-onscroll .langbar {
 padding-top: 0.9rem;
}

hr {
 margin-top: 20px;
 margin-bottom: 20px;
 border-color: #f5f5f5;
}

.slideCol p{
 text-align: left;
 overflow: hidden;
 font-weight: 800 !important;
 font-size: 15pt;
 display: block;
 text-transform: uppercase;
 padding-left: 15px;
 padding-top: 5px;
}

.slideCol img {
 float: left;
}
.csi-header .csi-navbar .csi-nav {
 float:left;
}
.csi-header .csi-navbar .csi-nav li a{
 padding: 6.8rem 6px 2.6rem;
}
.csi-header .csi-navbar .csi-logo {
 margin-top: 1rem;
}
.csi-header .csi-navbar .csi-logo a img {
 /*width: 169px;*/
 width: 122px;
}
.csi-header .menu-onscroll .csi-navbar .csi-logo {
 margin-top: 0.9rem;
}
.csi-header .menu-onscroll .csi-navbar .csi-logo a img {
 width: 122px;
}
.live-streaming{
 float: right;
}
.live-streaming a {
 position: absolute;
 top: 0px;
 margin-left: 70px;
}

.live-streaming a img {
  width: 90px;
}
.csi-header .csi-navbar .csi-nav li a {
 padding : 2.6rem 6px;
}

.csi-header .menu-onscroll .csi-navbar .csi-nav li a {
 padding : 4.6rem 6px;
}

.csi-single-registration {
 margin-right: 10px;
}

.csi-registration-area .recommended{
 margin-left: 15%;
}

.csi-banner-content {
 margin-top: 4rem;
}

.csi-banner{
 background-position : bottom left;
}

.csi-header .csi-navbar .csi-nav li .csi-btn {
 padding-left: 5px;
 padding-right: 5px;
}


//custum css

/*****-----*****-----*****-----*****
    03. Header CSS
*****-----*****-----*****-----*****/

.header-menu-container{
 width: 1600px;
 margin: 0 auto;
}
.main-herader {
 position: relative;
 background: #ffffff;
}

/* Header Top CSS Start */
.header-topbar {
 background: #9a1f80;
 position: relative;
 padding: 10px 0 0;
}
.header-topbar:before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 z-index: 0;
 width: 100%;
 height: 500px;
 background: #ffffff;
 margin-left: -300px;
 -ms-transform: rotate(52deg);
 -webkit-transform: rotate(52deg);
 transform: rotate(52deg);
}
.herader-topbar-col {
 margin-bottom: 10px;
 font-family: Lato,sans-serif;
 font-size: larger;
 padding-top: 1%;
}
.herader-topbar-col.tobar-leftside span {
 color: #333333;
 margin-right: 20px;
}
.herader-topbar-col i {
 color: #9a1f80;
 margin-right: 5px;
}
.after-bdr {
 position: relative;
}
.herader-topbar-col .after-bdr:after {
 content: "";
 position: absolute;
 right: -12px;
 top: 5px;
 width: 2px;
 height: 20px;
 background: #ffffff;
 display: inline-block;
 margin-top: -5px;
}
.herader-topbar-col.tobar-rightside {
 text-align: right;
}
.herader-topbar-col.tobar-rightside span {
 color: #40486D;
 margin-left: 20px;
}
.herader-topbar-col.tobar-rightside span a {
 color: #ffffff;
}
.herader-topbar-col.tobar-rightside p {
 display: inline-block;
 margin-right: 10px;
}
.herader-topbar-col.tobar-rightside p a span {
 color: #ffffff;
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
 padding: 8px 15px;
}
/* Nav Search Box CSS */
.popup-box-on {
 display: block !important;
}
.off {
 display: none;
}
.chat_box .chat_message_wrapper ul.chat_message > li + li {
 margin-top: 4px;
}

#search.open {
 opacity: 1;
 transform: translate(0px, 0px) scale(1, 1);
}
#search {
 background-color: rgba(0,0,0,0.95);
 height: 100%;
 left: 0;
 position: fixed;
 top: 0;
 transition: all 0.5s ease-in-out 0s;
 width: 100%;
 z-index: 2000;

}
#search .close {
 color: #9a1f80;
 font-size: 40px;
 opacity: 1;
 padding: 10px 17px;
 position: fixed;
 right: 15px;
 top: 15px;
}
.close {
 float: right;
 font-weight: bold;
 line-height: 1;
 text-shadow: 0 1px 0 #fff;
}
#search input[type="text"] {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border: 0 none;
 color: #666666;
 font-size: 36px;
 margin: -51px auto 0;
 outline: medium none;
 padding-left: 30px;
 padding-right: 30px;
 position: absolute;
 text-align: center;
 top: 50%;
 width: 100%;
}
#search .btn {
 left: 50%;
 margin-top: 30px;
 padding: 10px 50px;
 position: absolute;
 top: 50%;
 transform: translateX(-50%);
}
.ml0 {
 margin-left: 0 !important;
}
.s-icon {
 color: #40486D;
}



/* Navbar CSS start */
.header-navbar {
 background: #ffffff;
}
.header-navbar .navbar-brand {
 padding: 0;
 margin-top: 10px;
 height: auto;
}
.header-navbar .navbar-brand img {
 width: 80%;
 margin-left: 60%;
 margin-top: 3%;
 max-width: 100%;
}
.header-navbar .navbar {
 margin-bottom: 0;
}
.header-navbar .navbar-default {
 background: transparent;
 border: none;
 padding: 0;
 margin-bottom: 1%;
 width: 1610px;
 max-width: 100%;
 margin: 0 auto;
}
.header-navbar .navbar-default .navbar-nav>li>a {
 color: #333333;
 text-transform: uppercase;
 padding-left: 0;
 padding-right: 0;
 margin-left: 25px;
 padding: 30px 0;
 font-weight: bold;
}
.header-navbar .navbar-default .navbar-nav>.active>a,
.header-navbar .navbar-default .navbar-nav>li>a:hover {
 color: #9a1f80;
 background-color: transparent;
}
.header-navbar .navbar-default .navbar-nav>li>a:focus,
.header-navbar .navbar-default .navbar-nav>li>a:hover {
 background: transparent;
}
.header-navbar .dropdown-menu {
 min-width: 220px;
}
.header-navbar .navbar-right .dropdown-menu {
 right: auto;
}
.navbar-nav.navbar-right{
 padding-top: 2%;
 font-family: Lato,sans-serif;
 font-size: medium;
}
.header-navbar .navbar-nav .dropdown-menu {
 padding: 0;
 border: none;
 border-top: 3px solid #9a1f80;
 border-radius: 0;
 margin-left: 20px;
}
.header-navbar .navbar-nav .dropdown-menu>li>a {
 padding: 15px 10px;
 color: #333333;
 font-size: 15px;
 text-transform: uppercase;
 border-top: 1px solid #eeeeee;
}
.header-navbar .navbar-nav .dropdown-menu>li>a:hover {
 padding-left: 15px;
 color: #9a1f80;
}
.header-navbar .navbar-default .navbar-nav>.open>a,
.header-navbar .navbar-default .navbar-nav>.open>a:focus,
.header-navbar .navbar-default .navbar-nav>.open>a:hover {
 background-color: transparent;
}

/* Mega Menu CSS Start */
.nav > li.dropdown.open {
 position: static;
}
.nav > li.dropdown.open .mega-menu {
 display:table;
 width: 100%;
 text-align: center;
 left:0;
 right:0;
 padding: 30px;
}
.mega-menu {

}
.mega-menu>li {
 display: table-cell;
}
.mega-menu li {
 padding: 10px 0;
 text-align: left;
 border-bottom: 1px solid #dddddd;
}
.mega-menu li a {
 color: #333333;
 text-transform: capitalize;
 text-transform: uppercase;
}
.mega-menu li a:hover {
 padding-left: 5px;
 color: #9a1f80;
}
.mega-menu img {
 margin-top: 0;
}
.nav-img {
 width: 85%;
 margin: auto;
}
/* NavBar Fixed CSS */
.scroll-to-fixed-fixed {
 z-index: 1000;
 position: fixed;
 top: 0px;
 margin-left: 0px;
 left: 0px;
 background: #ffffff;
 top: 0;
 width: 100% !important;
 z-index:9;
 -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
 box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.2);
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.list-inline-top{
 padding-left: 0;
 list-style: none;
}
.bootstrap-select > .dropdown-toggle{
 padding-left: 0px;
 padding-right: 10px;
 margin-bottom: 4px;
}
.info-top-bar{
 margin-top: 2%;
 display: inline-flex;
 //margin-left: -18%;
}
.img-top-bar{
 margin-top: 1%;
 width: 40%;
 max-width: 100%;
 min-height: 106px;
 height: auto;
 margin-bottom: -2%;
}

//04. Slider CSS

.main-slider-area {
 overflow: hidden;
 position: relative;
}

/* Fade Effect start */
.carousel-fade .carousel-inner .item {
 height: 100vh;
 opacity: 0.6;
 -webkit-transition-property: opacity;
 -moz-transition-property: opacity;
 -o-transition-property: opacity;
 transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
 opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
 left: 0;
 opacity: 0;
 z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
 opacity: 1;
}
.carousel-fade .carousel-control {
 z-index: 99;
}
.main-slider-area .carousel-control .glyphicon-chevron-right {
 right: 20px;
}
.main-slider-area .carousel-control .glyphicon-chevron-left {
 left: 10px;
}
.main-slider-area .carousel-control.right,
.main-slider-area .carousel-control.left {
 width: 0;
}
.glyphicon-chevron-right:before {
 content: "\f105";
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 background: #000000;
 padding: 10px 15px;;
}
.glyphicon-chevron-left:before {
 content: "\f104";
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 background: #000000;
 padding: 10px 15px;;
}
/* Full screen slider start */
.carousel-caption {
 position: absolute;
 right: 0;
 left: 0;
 top: 25%;
 text-align: inherit;
 padding: 0 150px;
 text-shadow: none;
 -moz-transform: translateY(-25%);
 -ms-transform: translateY(-25%);
 -o-transform: translateY(-25%);
 -webkit-transform: translateY(-25%);
 transform: translateY(-25%);
}
.slide-1 {
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/slider5.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}
.slide-2 {
 background:url(http://promohoteltunisie.com/octa/public/assets/front/img/slider5.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}
.slide-3 {
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/slider3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}
//.slide-newone {
// background: url(../images/slider/4.jpg);
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;
// position: relative;
//}
.slide-1:before, .slide-2:before, .slide-3:before, .slide-newone:before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
 background: rgba(0, 0, 0, 0.5);
}
.carousel-indicators {
 bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
 background-image: none;
}
.carousel .item {

 width:100%;
}
.carousel-caption p {
 letter-spacing: 10px;
 font-size: 16px;
 text-transform: capitalize;
}
.carousel-caption h3 {
 color: #ffffff;
 font-size: 40px;
 margin-top: 20px;
 margin-bottom: 30px;
 text-transform: uppercase;
 letter-spacing: 1px;
 text-transform: capitalize;
}
.carousel-caption h3 span {
 color: #9a1f80;
}
.carousel-caption .btn {
 font-size: 14px;
 padding: 10px 30px;
 border: 1px solid #ffffff;
 color: #ffffff;
 border-radius: 0;
 background: transparent;
 text-transform: uppercase;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.carousel-caption .btn:hover {
 background: #9a1f80;
 border-color: #9a1f80;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}


/* Animation delays */
.carousel-caption h3:nth-child(2) {
 animation-delay: 1s;
}
.carousel-caption a {
 animation-delay: 2s;
}
.p {
 padding-top: 125px;
 text-align: center;
}

.p a {
 text-decoration: underline;
}
.csi-title{
 font-size: 4vw;
 line-height: 16.5rem;
 font-family: Oswald,sans-serif !important;
 margin-bottom: 30px;
}
.csi-countdown-area .csi-countdown-area-inner{
 text-align: center !important;
 //margin-bottom: 11%;
}
//#csi-countdown{
// margin-bottom: 4%;
//}
.csi-about-content-area{
 margin-top: 7%;
}

/*****-----*****-----*****-----*****
    10. Team CSS
*****-----*****-----*****-----*****/
.team-area {
 padding: 120px 0;
}
.our-team{
 position:relative;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team .team-pic > img{
 width: 100%;
 height: auto;
 border: 1px solid #dddddd;
 margin-bottom: -30px;
 margin-right: 1px;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team:hover img {
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team .team-profile{
 text-align: center;
 background: #9a1f80;
 position: relative;
 width: 100%;
 padding: 20px 20px;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team:hover .team-profile {
 position: relative;
 z-index: 99;
 background: #40486D;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team .team-profile:before{
 content: "";
 border-bottom: 28px solid #9a1f80;
 border-right: 120px solid transparent;
 position: absolute;
 top: -25px;
 left: 0;
 z-index: 0;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team:hover .team-profile:before {
 border-bottom-color: #40486D;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
}
.our-team .team-title{
 line-height: 22px;
 display: inline-block;
 min-height: 110px;
 height: auto;
}
//.our-team .team-title:after{
//    content:"";
//    display: block;
//    width: 10%;
//    border-bottom:2px solid #fff;
//    padding-bottom:5px;
//}
.our-team .team-title a{
 font-size: 24px;
 text-transform: capitalize;
 color: #fff;
 display: block;
 -webkit-transition: all 0.4s ease-in-out;
 -moz-transition: all 0.4s ease-in-out;
 -o-transition: all 0.4s ease-in-out;
 -ms-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
}
.our-team .team-title a:hover{
 color:#999999;
 text-decoration: none;
}
.our-team .team-title > small{
 font-size: 18px;
 color:#fff
}
.our-team .team-social{
 padding:0;
}
.our-team .team-social > li{
 display: inline-block;
 margin-right: 12px;
}
.our-team .team-social > li > a{
 color:#fff;
 font-size:18px;
}
.our-team .team-social > li > a:hover{
 text-decoration: none;
 color: #9a1f80;
}

.team-area .owl-theme .owl-nav {
 margin-top: 0;
}
.team-area .owl-theme .owl-nav [class*=owl-] {
 padding: 0px 25px;
 border-radius: 0;
 color: #3C4767;
 font-size: 20px;
}
.team-area .owl-carousel .owl-nav .owl-next {
 position: absolute;
 right: -15px;
 top: 35%;
}
.team-area .owl-carousel .owl-nav .owl-prev {
 position: absolute;
 left: -15px;
 top: 35%;
}

/* Team Two CSS */
.team-inner-area {
 padding: 120px 0 90px;
}
.team-inner-area .our-team {
 margin-bottom: 30px;
}
.date-slider{
 opacity: 0.8 !important;
 font-weight: bold !important;
 font-size: 3vw !important;
 line-height: 16.5rem;
 font-family: Oswald,sans-serif;
 color: #ffffff !important;
}
#carousel-example-generic{
 max-height: 600px;
 height: auto;
}
#intervenant{
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
}
/* Defult Section title */
.defult-title {
 position: relative;
 width: 100%;
 display: inline-block;
 margin-bottom: 4%;
}
.defult-title span {
 color: #9a1f80;
 font-weight: normal !important;
}
.defult-title h1 {
 font-size: 36px;
 line-height: 28px;
 padding-bottom: 0px;
 padding: 0;
 margin: 0 50px;
 text-transform: uppercase;
 position: relative;
 display: inline-block;
 margin-bottom: 10px;
 color: #999999;
 font-weight: bold;
}
.defult-title h1:after,
.defult-title h1:before {
 position: absolute;
 width: 50px;
 height: 2px;
 background: #9a1f80;
 transform: translate(0, -50%);
 top: 50%;
 content: '';
}
.defult-title h1:after {
 left: -60px;
}
.defult-title.bl-none h1 {
 margin-left: 0;
 padding-left: 0;
}
.defult-title.bl-none h1:after {
 width: 0;
 height: 0;
 background: none;
}
.defult-title h1:before {
 right: -60px;
}
.defult-title h5 {
 line-height: 20px;
 padding-bottom: 60px;
 margin-bottom: 0;
 font-weight: 600;
 letter-spacing: 5px;
}
/*****-----*****-----*****-----*****
    06. About CSS
*****-----*****-----*****-----*****/
.container-about{
 width: 1600px;
 margin: 0 auto;
 max-width: 100%;
}
.about-area {
 overflow-x: hidden;
 padding: 120px 0 90px;
}
.about-col {
 margin-bottom: 30px;
}
.experience-box h1 {
 font-size: 80px;
 line-height: 62px;
 margin-bottom: 20px;
 color: #ffffff;
}
.experience-box h4 {
 color: #ffffff;
 margin-bottom: 0;
}
.about-col h2 {
 display: inline-block;
}
.welcome-text {
 h2{
  color: #9a1f80;
  font-size: 76px;
  font-family: Lato,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
 }
 .welcome-about{
  font-size: 28px !important;
  margin-top: 8% !important;
 }
 h3{
  color: #999999;
  font-size: 31px;
  font-family: Lato,sans-serif;
  font-weight: bold;
 }
 p {
  margin-bottom: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #999999;
 }
}
.about-image {
 position: relative;
 //padding: 20px 20px 0 20px;
}
.sponsors-area.carousel-inner{
 img{
  margin: 0 auto !important;
  margin-bottom: 2% !important;
  border: 1px solid #9a1f80;
  width: 50%;
 }
}
.carousel.slide{
 text-align: center !important;
}
.carousel.slide.sponsorh2{
 h2{
  background: #9a1f80 !important;
  color: #fdfdfd!important;
  text-align: center;
  font-size: 24px!important;
  padding: 10px !important;
  width: 50% !important;
  max-width: 100%;
  margin-bottom: 0px !important;
  font-family: 'Oswald', sans-serif;
  margin-top: 0px !important;
 }
}
.carrousel-cheveron-left{
 left: 162% !important;
}
.carrousel-cheveron-left:before{
 font-size: 15px;
 border-radius: 50%;
}
.carrousel-cheveron-right{
 right: 172% !important;
}
.carrousel-cheveron-right:before{
 font-size: 15px;
 border-radius: 50%;
}
.csi-about-img{
 padding: 0 !important;
 img{
  width: 80%;
 }
}
#about{
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
}
.csi-footer-single address{
 max-width: 315px;
}
.csi-social li a{
 width: 40px !important;
 height: 40px !important;
}
.csi-social li a i{
 font-size: 18px !important;
}
.csi-countdown-area{
 top: auto;
 bottom: 26% !important;
}
.top-sidebar-right{
 display: block;
 padding-left: 0px;
 white-space: nowrap;
 text-align: right;
}
.img-top-bar-container{
 text-align: center;
}



/*****-----*****-----*****-----*****
    17. Pricing CSS
*****-----*****-----*****-----*****/
#csi-registration{
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
 background-color: #ffffff !important;
}
.pricing-area {
 padding: 120px 0 90px;
}
.pricingTable{
 padding: 5px 20px;
 margin-bottom: 30px;
 border: 1px solid #9a1f80;
 text-align: center;
 width: 100%;
 max-width: 100%;
 min-height: 150px;
 height: auto;
}
.pricingTable .price-value {
 margin-bottom: 30px;
}
.pricingTable .price-value h2{
 font-size: 3vw;
 font-weight: bold;
 color: #2F344E;
 letter-spacing: 3px;
 margin-bottom: 5%;
 font-family: Lato, sans-serif;
 margin-top: 15%;
}
.devise-currency{
 vertical-align: middle;
 font-size: 24px !important;
}
.pricingTable .title{
 display: block;
 padding: 15px 10px;
 margin: 0 auto;
 background: #eee;
 font-size: 18px;
 color: #9a1f80;
 text-transform: capitalize;
 letter-spacing: 1px;
 position: relative;
 transition: all 0.3s ease 0s;
 font-family: Lato, sans-serif;
 margin-top: 5%;
 font-weight: bold;
 width: 140px;
 margin-bottom: 50px;
 max-width: 100%;
}
.pricingTable:hover .title{
 background: #9a1f80;
 color: #fff;
}
.pricingTable .title:before,
.pricingTable .title:after{
 content: "";
 border-right: 26px solid #eee;
 border-top: 25px solid transparent;
 border-bottom: 26px solid transparent;
 position: absolute;
 top: 0;
 left: -26px;
 transition: all 0.3s ease 0s;
}
.pricingTable .title:after{
 border-right: none;
 border-left: 26px solid #eee;
 left: auto;
 right: -26px;
}
.pricingTable:hover .title:before{ border-right-color: #9a1f80; }
.pricingTable:hover .title:after{ border-left-color: #9a1f80; }
.pricingTable .pricing-content{
 padding: 0;
 margin: 0 0 25px 0;
 list-style: none;
}
.pricingTable .pricing-content li{
 font-size: 17px;
 color: #0d3b66;
 line-height: 40px;
 font-family: Lato, sans-serif;
}
.pricing-content ul {
 margin-bottom: 30px;
 min-height: 120px;
 list-style: none;
 text-align: center;
 padding-left: 0px;
}

/* Btn CSS */
.simple-btn {
 border-color: #9a1f80;
 border-radius: 0;
 color: #ffffff;
 background: #9a1f80;
 padding: 12px 30px;
 text-transform: uppercase;
 position: relative;
 overflow: hidden;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.simple-btn:before {
 content: '';
 width: 20px;
 height: 41px;
 background: #ffffff;
 position: absolute;
 left: -50px;
 top: 0px;
 z-index: 0;
 opacity: 0.3;
 -ms-transform: rotate(20deg); /* IE 9 */
 -webkit-transform: rotate(20deg); /* Safari */
 transform: rotate(20deg);
 -webkit-transition: all 0.4s ease-in-out;
 -moz-transition: all 0.4s ease-in-out;
 -ms-transition: all 0.4s ease-in-out;
 -o-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
}
.simple-btn:hover:before {
 left: 300px;
 z-index: -1;
 -webkit-transition: all 0.8s ease-in-out;
 -moz-transition: all 0.8s ease-in-out;
 -ms-transition: all 0.8s ease-in-out;
 -o-transition: all 0.8s ease-in-out;
 transition: all 0.8s ease-in-out;
}
.simple-btn:hover {
 color: #ffffff;
 background: #9a1f80;
 z-index: 1;
 border-color: #9a1f80;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
/*****-----*****-----*****-----*****
    16. Inner page title bar CSS
*****-----*****-----*****-----*****/
.innerpage-titlebar {
 padding: 150px 0 0;
 margin-bottom: 30px;
 position: relative;
 background: url(https://www.reparatuvehiculo.com/wp-content/uploads/2016/08/repara-tu-vehiculo-horarios-verano.jpg) top center no-repeat;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.titlebar-box {
 padding: 25px 25px;
 background: #f5f5f5;
 margin-bottom: -50px;
 position: relative;
 height: 88px;
}
.titlebar-col h2 {
 font-size: 36px;
 line-height: 28px;
 margin-bottom: 0;
 font-family: Lato, sans-serif;
 font-weight: bold;
 margin-top: 0;
 text-align: left !important;
 padding: 0;
 text-transform: capitalize;
 letter-spacing: 0.5px;
}
.titlebar-col {
 text-align: right;
 vertical-align: middle;
}
.titlebar-col li a{
 text-transform: capitalize !important;
 color: #333333 !important;
 font-size: 20px !important;
 font-family: Lato, sans-serif;
}
.titlebar-col li.active {
 color: #9a1f80 !important;
 font-size: 20px !important;
 font-family: Lato, sans-serif;
}
.titlebar-col li.active:before {
 color: #333333 !important;
 content: "|" !important;
}

.pvisa p {
 font-size: 20px !important;
 line-height: 1.5 !important;
 text-align: justify !important;
}

/*****-----*****-----*****-----*****
    18. Account CSS
*****-----*****-----*****-----*****/
.account-area {
 padding: 120px 0;
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
}
.tab{
 padding: 70px 50px 25px;
 margin-top: 40px;
 background: #2F344E;
 position: relative;
}
.tab:before{
 content: "\f007";
 font-family: fontawesome;
 width: 100px;
 height: 100px;
 line-height: 100px;
 border-radius: 50%;
 border: 5px solid #fff;
 background: #9a1f80;
 font-size: 40px;
 line-height: 100px;
 color: #fff;
 text-align: center;
 margin: 0 auto;
 position: absolute;
 top: -50px;
 left: 0;
 right: 0;
}
.tab .nav-tabs{
 padding: 0 20px 15px;
 position: relative;
}
.tab .nav-tabs li a{
 padding: 0 20px 0;
 margin: 0;
 background: none;
 font-size: 18px;
 color: #fff;
 text-transform: uppercase;
 border: none;
 border-radius: 0;
 opacity: 0.5;
 position: relative;
 transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{ border: none; }
.tab .nav-tabs li a:before{
 content: "";
 width: 0;
 height: 3px;
 background: #fff;
 position: absolute;
 bottom: -16px;
 left: 0;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
 border: none;
 background: none;
 opacity: 1;
 color: #fff;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:hover:before{ width: 100%; }
.tab .tab-content{
 padding: 20px 0 0 0;
 margin-top: 15px;
 background: none;
 position: relative;
}
#Section1{
 .form-horizontal .form-group{
  position: relative;
  margin-bottom: 0;
 }
 .form-horizontal .form-control{
  height: 45px;
  background: rgba(255,255,255,0.2);
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
 }
 .form-horizontal .form-control:focus{
  box-shadow: none;
  outline: 0 none;
 }
 .form-horizontal .form-group label{
  color: #999999;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;

 }
 .form-horizontal .btn{
  display: inline-block;
  width: 50%;
  background: #9a1f80;
  padding: 10px 20px;
  margin: 20px auto 0;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
 }
 .form-horizontal .btn:focus{
  background: #9a1f80;
  color: #fff;
  outline: none;
  box-shadow: none;
 }
 .form-horizontal .forgot-pass{
  margin: 0;
  text-align: center;
  margin-top: 2%;
 }
 .form-horizontal .forgot-pass a{
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #615f6c;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
 }
}
.form-horizontal .forgot-pass a:hover{ color: #9a1f80; }

// page profile

.profile-form{
 .form-horizontal .form-group{
  position: relative;
  margin-bottom: 0;
 }
 .form-horizontal .form-control{
  height: 45px;
  background: rgba(255,255,255,0.2);
  border-radius: 0;
  box-shadow: none;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
 }
 .form-horizontal .form-control:focus{
  box-shadow: none;
  outline: 0 none;
 }
 .form-horizontal .form-group label{
  color: #333;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
 }
 .form-horizontal .btn{
  display: inline-block;
  width: 50%;
  background: #9a1f80;
  padding: 10px 20px;
  margin: 20px auto 0;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
 }
 .form-horizontal .btn:focus{
  background: #9a1f80;
  color: #fff;
  outline: none;
  box-shadow: none;
 }
 .informations{
  font-family: Lato, sans-serif;
  font-size: 18px !important;
  font-weight: bold !important;
  margin-bottom: 10% !important;
  margin-left: 33%;
 }
 label[for=profile_password_second]{
  margin-left: -10%;
  word-break: break-all;
 }
 label[for=profile_password_first]{
  margin-left: -12%;
 }
 label[for=profile_email]{
  margin-left: -5%;
 }
 #profile_password_second{
  margin-left: 12%;
 }
}

// form registration

form[name=information]{
 .panel-footer{
  background-color: transparent;
  border-top: 1px solid #9a1f80;
  .row{
   .col-sm-6{
    text-align: center;
   }
  }
 }
  border: 1px solid #9a1f80;
 .form-group{
  position: relative;
  margin-bottom: 0;
 }
 .form-control{
  height: 45px;
  background: rgba(255,255,255,0.2);
  border-radius: 0;
  box-shadow: none;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
 }
 .form-control:focus{
  box-shadow: none;
  outline: 0 none;
 }
 .form-group label{
  color: #333;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
 }
 .btn{
  display: inline-block;
  width: 50%;
  background: #9a1f80;
  padding: 10px 20px;
  margin: 20px auto 0;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
 }
 .btn:focus{
  background: #9a1f80;
  color: #fff;
  outline: none;
  box-shadow: none;
 }
 select{
  height: 29px;
  overflow: hidden;
  width: 45%;
  margin-top: 6px;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
 }
 #information_heureDeparture{
  border: none !important;
 }
 #information_heureArrival{
  border: none !important;
 }
}


//card profile
#cardPdf{
 .card-body{
  h6{
   font-size: 18px;
   font-family: Lato, sans-serif;
  }
  img{
   margin-top: 2%;
   margin-bottom: 10%;
  }
 }
 border: 1px solid #9a1f80;
 font-size: 18px;
 font-family: Lato, sans-serif;
}
.mode-de-paiement{
 .panel-body p{
  font-size: 18px;
  font-family: Lato, sans-serif;
 }
 .panel-heading{
  background-color: transparent !important;
  border: 1px solid #9a1f80 !important;
 }
}
.card-information{
 .panel-body{
  background-color: transparent !important;
  border: 1px solid #9a1f80 !important;
  p{
   font-size: 18px;
   font-family: Lato, sans-serif;
  }
 }
 .panel-heading{
  background-color: transparent !important;
  border: 1px solid #9a1f80 !important;
 }
}

//facture
#reservation{
 border: 1px solid #9a1f80;
 font-size: 18px;
 font-family: Lato, sans-serif;
 p {
  font-size: 18px;
  font-family: Lato, sans-serif;
 }
}
.jumbotrondddd{
 border: 1px solid #9a1f80;
 position: relative;
 z-index: 1;
 padding: 30px;
 font-family: Lato, sans-serif;
 font-size: 18px;
 margin-bottom: 10%;
 margin-top: 3%;
 p{
  font-size: 18px;
  line-height: 2;
 }
}
.dataTables_paginate a.paginate_button, .dataTables_paginate a.paginate_active{
 z-index: 1;
}
#csi-schedule{
 background: #ffffff !important;
}
#csi-news{
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png) !important;
}
#list-participants_filter input{
 position: relative;
 z-index:  1;
}
#list-participants_paginate{
 position: relative;
}
.dataTables_paginate a.current, .dataTables_paginate a.current:hover{
 background-color: #9a1f80 !important;
 border-color: #9a1f80 !important;
}
#list-participants{
 position: relative;
 th{
  background-color: #9a1f80;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 1;
 }
 #list-participants td{
  color: #333;
  font-family: Lato, sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
 }
}

#csi-about{
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
 position: relative;
}
.contact-area{
 background-color: #ffffff !important;
 background: url(http://promohoteltunisie.com/octa/public/assets/front/img/body.png);
}
/*****-----*****-----*****-----*****
    21. Contact CSS
*****-----*****-----*****-----*****/
.contact-area {
 background-color: #ffffff !important;
 overflow: hidden;
 padding: 120px 0 90px;
}
.contact-section {
 overflow: hidden;
 padding: 100px 0 70px;
}
.contact-title h2 {
 font-size: 36px;
 margin-bottom: 20px;
 text-transform: uppercase;
 margin-bottom: 60px;
}
.contact-title h2 span {
 color: #9a1f80;
}
.contact-title p {
 margin-bottom: 30px;
}
.contact-box {
 background: transparent;
 padding: 20px 20px;
 margin-bottom: 50px;
 position: relative;
 text-align: center;
 border: 1px solid #9a1f80;
 min-height: 380px;
 height: auto;
}
.contact-box i {
 font-size: 30px;
 color: #ffffff;
 background: #9a1f80;
 width: 80px;
 height: 80px;
 text-align: center;
 line-height: 80px;
 margin-bottom: 10px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 border-radius: 50%;
}
.sub-icon{
 width: 30px !important;
 height: 30px !important;
 line-height: 23px !important;
}
.sub-icon:before{
 font-size: 16px !important;
}
.contact-box address {
 margin-bottom: 0;
 padding-bottom: 5px;
}
.contact-section .contact-form {
 margin-top: 50px;
}
.contact-section form .form-control {
 height: 45px;
 border: none;
 border-radius: 0;
 background: transparent;
 border-bottom: 1px solid #cccccc;
 color: #676767;
 padding-left: 0;
}
.contact-area form .textarea-hight-full {
 height: 100%;
}
.contact-area .simple-btn {
 margin-bottom: 30px;
}

form[name=contact] {
 .form-control {
  height: 45px ;
  margin-bottom: 30px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
 }
 textarea{
  height: 150px !important;
  .form-control{
   box-shadow: none !important;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   border-radius: 0px !important;
   -moz-border-radius: 0px !important;
   -webkit-border-radius: 0px !important;
  }
 }
}

// media query
@media (max-width: 1610px){
 .header-navbar .navbar-brand img{
  margin-left: 0;
 }
 .navbar-nav.navbar-right{
  float: left !important;
  margin-right: 0 !important;
 }
}
@media (max-width: 1199px){
 .info-top-bar{
  display: block;
 }
}
//@media (max-width: 1110px) {
// .top-sidebar-right{
//  margin-left: -6%;
// }
//}
@media (max-width: 991px){
 .top-sidebar-right{
  margin-left: 0px;
  display: block;
  padding-left: 0px;
  text-align: center;
 }
 .info-top-bar{
  display: inline-flex;
 }
 .herader-topbar-col i{
  color: #ffffff;
 }
 .herader-topbar-col.tobar-leftside span{
  color: #ffffff;
 }
 .img-top-bar-container{
  text-align: center;
 }
 .img-top-bar{
  margin: 0 auto;
 }
 .csi-title{
  //line-height: 8.5rem;
  //margin-top: -28%;
 }
 .date-slider{
  line-height: 5.5rem;
 }
 .about-left{
  text-align: center;
 }
 .csi-about-img img{
  width: 50%;
 }
 .btn-area{
  padding-top: 3%;
 }
 .sponsorh2{
  margin-top: 5%;
 }
 .header-navbar .navbar-brand img{
  margin-left: 0;
  margin-top: -3%;
 }
 .navbar-nav.navbar-right{
  padding-top: 0;
  margin-top: -1%;
 }
 label[for=profile_password_second]{
  margin-left: 0 !important;
  word-break: break-all;
 }
 label[for=profile_password_first]{
  margin-left: 0 !important;
 }
 label[for=profile_email]{
  margin-left: -5%;
 }
 #profile_password_second{
  margin-left: 0 !important;
 }
}
@media (max-width: 1366px){
 .navbar-nav.navbar-right{
  font-size: 13px;
  width: 84%;
  margin-left: -8%;
 }
 .header-navbar .navbar-brand img{
  width: 60%;
 }
}

/*Page Sponsoring*/
.pageSponsoring{
 background: #9a1f80 !important;
 color: #fdfdfd !important;
 font-size: 24px !important;
 padding: 10px !important;
 margin: 25% !important;
 text-align: center;
 width: 50% !important;
 max-width: 100%;
 margin-bottom: 0px !important;
 font-family: 'Oswald', sans-serif;
 margin-top: 0px !important;
}





//
//@media (max-width: 767px){
// .csi-title{
//  margin-top: -35% !important;
// }
// .date-slider{
//  line-height: 5.5rem !important;
// }
// .csi-countdown-area{
//  bottom: 15% !important;
// }
//}
//@media (max-width: 530px){
// .csi-title{
//  margin-top: -55% !important;
// }
// .csi-countdown-area{
//  bottom: 130px !important;
// }
//}
//@media (max-width: 380px){
// .csi-title{
//  margin-top: -80% !important;
// }
// .csi-countdown-area{
//  bottom: 60px !important;
// }
//}






