<div class="jumbotron">
    <h1 class="display-4">{{ 'Thank you for your registration'|trans({}, 'front') }}</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ path('home') }}" role="button">{{ 'Back To Home'|trans({}, 'front') }}</a>
    </p>
</div>